@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@font-face {
  font-family: 'ObviaExpanded';
  src: url("../fonts/ObviaExpanded.ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'ObviaExpanded-Black';
  src: url("../fonts/ObviaExpanded-Black.ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'ObviaExpanded-ObviaExpSemBd';
  src: url("../fonts/ObviaExpanded-ObviaExpSemBd.ttf");
  font-weight: bold;
}

.home_bg {
  position: absolute;
  min-width: 105vw;
  height: 100vh;
  background-image: url(../images/pocetna_pozadina/pozadina_blur.svg);
  background-repeat: repeat;
  background-size: clamp(5.6rem, 9.5%, 7.82rem) auto;
  left: -10px;
  top: 0;
}

.home_page {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.intro {
  position: relative;
  top: 45vh;
  left: 10vw;
  width: 40%;
  line-height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.intro_tekst p {
  color: #F1F1F1;
  font-size: 5rem;
  font-family: 'ObviaExpanded-ObviaExpSemBd';
  line-height: 4.5rem;
}

.intro_logo {
  position: absolute;
  top: 10%;
  right: 5%;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  min-height: 100%;
  max-width: clamp(30vw, 40vw, 50vw);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1400px) {
  .intro_tekst p {
    font-size: clamp(2rem, 4vw, 4rem);
    line-height: 2.8rem;
  }
}

@media screen and (min-width: 1400px) {
  .intro button {
    font-size: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .intro_logo {
    display: none;
  }
  .intro {
    top: 40vh;
    width: 80%;
  }
  .intro_tekst p {
    text-align: center;
    width: 80%;
    font-size: clamp(2rem, 7vw, 5rem);
    line-height: 3.2rem;
  }
  .intro_tekst {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro button {
    margin-top: 5vh;
  }
}

@media screen and (max-width: 600px) {
  .intro_logo {
    display: none;
  }
  .intro {
    top: 40vh;
    width: 80%;
  }
  .intro_tekst p {
    text-align: center;
    width: 100%;
    font-size: clamp(2rem, 7vw, 5rem);
    line-height: 3rem;
  }
}

@media screen and (max-width: 900px) and (min-width: 800px) and (max-height: 1200px) and (min-height: 850px) {
  .intro {
    top: 30vh;
    width: 60%;
  }
  .intro_logo {
    position: absolute;
    top: 20%;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    min-height: 100%;
    max-width: clamp(30vw, 60vw, 70vw);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro_tekst p {
    font-size: clamp(2rem, 6vw, 5rem);
    line-height: 2.8rem;
  }
}

@media screen and (min-width: 2500px) {
  .home_page {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=home.css.map */