.process_sadrzaj {
  min-height: 100vh;
}

.process_sadrzaj h1 {
  -webkit-transform: translateY(-75%);
          transform: translateY(-75%);
}

.process_line_container {
  width: 80%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6vw;
}

.process_line {
  width: 10vw;
  height: 100%;
  text-align: center;
  color: #F1F1F1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.process_line p {
  font-size: 0.8rem;
}

.process_line_text {
  position: absolute;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #004BA8;
  border-radius: 50%;
  width: clamp(12vh, 17vh, 22vh);
  height: clamp(12vh, 17vh, 22vh);
}

.process_line_text.one {
  top: -30%;
}

.process_line_text.two {
  top: 30%;
}

.process_line_text.three {
  top: -30%;
}

.process_line_text.four {
  top: 30%;
}

.process_title::after {
  content: 'OUR PROCESS';
  font-size: 4.2rem;
  color: #007CFF;
  opacity: 0.5;
  position: absolute;
  white-space: nowrap;
  left: -2%;
  z-index: -1;
}

.process_line_text::after {
  content: '';
  position: absolute;
  border: 2px solid;
  border-color: #004BA8;
  background-color: transparent;
  border-radius: 50%;
  width: clamp(16vh, 22vh, 30vh);
  height: clamp(16vh, 22vh, 30vh);
}

.process_line_text::before {
  content: '';
  position: absolute;
  border: 5px solid;
  border-color: #004BA8;
  background-color: transparent;
  border-radius: 50%;
  width: clamp(18vh, 26vh, 34vh);
  height: clamp(18vh, 26vh, 34vh);
}

.puls_home {
  position: absolute;
  width: clamp(18vh, 24vh, 34vh);
  height: clamp(18vh, 24vh, 34vh);
  border-radius: 50%;
  border: 30px solid;
  border-color: white;
  background-color: transparent;
  z-index: -1;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  display: none;
}

.process_line.process_active .puls_home {
  display: block;
  -webkit-animation: puls 3s ease;
          animation: puls 3s ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.process_line.process_active .process_line_text::after {
  -webkit-animation: pulsiranje_after 3s ease;
          animation: pulsiranje_after 3s ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.process_line.process_active .process_line_text::before {
  -webkit-animation: pulsiranje_before 3s ease;
          animation: pulsiranje_before 3s ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@media screen and (max-width: 1400px) {
  .process_line_text::after {
    width: clamp(16vh, 20vh, 30vh);
    height: clamp(16vh, 20vh, 30vh);
  }
  .process_line_text::before {
    width: clamp(18vh, 24vh, 34vh);
    height: clamp(18vh, 24vh, 34vh);
  }
  .puls_home {
    position: absolute;
    width: clamp(18vh, 22vh, 34vh);
    height: clamp(18vh, 22vh, 34vh);
  }
  .process_line_text {
    width: clamp(12vh, 15vh, 22vh);
    height: clamp(12vh, 15vh, 22vh);
  }
}

@media screen and (max-width: 800px) {
  .puls_home {
    width: clamp(16vh, 16vh, 34vh);
    height: clamp(16vh, 16vh, 34vh);
    border: 20px solid;
    border-color: #F1F1F1;
  }
  .process_line_text {
    width: clamp(8vh, 8vh, 10vh);
    height: clamp(8vh, 8vh, 10vh);
  }
  .process_line_text p {
    font-size: 0.6rem;
    z-index: 10;
  }
  .process_line_text::after {
    width: clamp(11vh, 11vh, 30vh);
    height: clamp(11vh, 11vh, 30vh);
  }
  .process_line_text::before {
    width: clamp(14vh, 14vh, 34vh);
    height: clamp(14vh, 14vh, 34vh);
  }
}

@media screen and (max-width: 700px) {
  .process_title {
    font-size: 3rem;
  }
  .process_title::after {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 600px) {
  .process_title {
    font-size: 2.5rem;
  }
  .process_title::after {
    font-size: 2.7rem;
    left: -2%;
    letter-spacing: 1px;
  }
  .process_line_container {
    -webkit-transform: rotate(90deg) translateY(38%);
            transform: rotate(90deg) translateY(38%);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .process_line_text {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .process {
    min-height: 120vh;
  }
  .process_sadrzaj {
    min-height: 120vh;
  }
  svg.str {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@media screen and (max-width: 500px) {
  .process_title {
    font-size: 2.2rem;
  }
  .process_title::after {
    font-size: 2.4rem;
  }
}

.naslov_process {
  min-height: 60vh;
  width: 80%;
  text-align: center;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-bottom: 10vh;
}

.naslov_process h1 {
  font-size: clamp(2rem, 10vw, 8rem);
  color: #F1F1F1;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
  position: relative;
}

.naslov_process h1::after {
  content: 'OUR PROCESS';
  position: absolute;
  bottom: 0%;
  left: 0;
  z-index: -1;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #007CFF;
  opacity: 0;
  -webkit-animation: after 1s ease 1s forwards;
          animation: after 1s ease 1s forwards;
}

.naslov_process h1::before {
  content: 'OUR PROCESS';
  z-index: -2;
  bottom: -20%;
  left: 0;
  position: absolute;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #004BA8;
  opacity: 0;
  -webkit-animation: before 1s ease 2s forwards;
          animation: before 1s ease 2s forwards;
}

@-webkit-keyframes after {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: -20%;
    opacity: 1;
  }
}

@keyframes after {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: -20%;
    opacity: 1;
  }
}

@-webkit-keyframes before {
  from {
    bottom: -20%;
    opacity: 0;
  }
  to {
    bottom: -40%;
    opacity: 1;
  }
}

@keyframes before {
  from {
    bottom: -20%;
    opacity: 0;
  }
  to {
    bottom: -40%;
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .naslov_process h1 {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@media screen and (max-width: 500px) {
  .naslov_process h1 {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

.container_process {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40vh;
  width: 60%;
  margin-bottom: 20vh;
}

.str_process_sadrzaj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 20vw;
}

.broj_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.broj {
  font-size: clamp(3rem, 6vw, 6rem);
  color: #F1F1F1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #004BA8;
  border-radius: 50%;
  width: clamp(12vh, 22vh, 26vh);
  height: clamp(12vh, 22vh, 26vh);
}

.broj::after {
  content: '';
  position: absolute;
  border: 2px solid;
  border-color: #004BA8;
  background-color: transparent;
  border-radius: 50%;
  width: clamp(16vh, 26vh, 30vh);
  height: clamp(16vh, 26vh, 30vh);
  -webkit-animation: pulsiranje_after 3s ease;
          animation: pulsiranje_after 3s ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.broj::before {
  content: '';
  position: absolute;
  border: 5px solid;
  border-color: #004BA8;
  background-color: transparent;
  border-radius: 50%;
  width: clamp(18vh, 30vh, 34vh);
  height: clamp(18vh, 30vh, 34vh);
  -webkit-animation: pulsiranje_before 3s ease;
          animation: pulsiranje_before 3s ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.puls {
  position: absolute;
  width: clamp(18vh, 30vh, 34vh);
  height: clamp(18vh, 30vh, 34vh);
  border-radius: 50%;
  border: 30px solid;
  border-color: white;
  background-color: transparent;
  z-index: -1;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  -webkit-animation: puls 3s ease;
          animation: puls 3s ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tocka {
  min-width: 25px;
  min-height: 25px;
  background-color: red;
  z-index: 20;
  -webkit-animation: none;
          animation: none;
  position: absolute;
  visibility: hidden;
}

.tekst p {
  color: #F1F1F1;
  letter-spacing: 0px;
  line-height: 1.6rem;
  font-size: clamp(0.8rem, 1vw, 1.25rem);
}

.tekst h2 {
  color: #F1F1F1;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-family: 'ObviaExpanded-ObviaExpSemBd';
  position: relative;
}

@media screen and (max-width: 1380px) {
  .container_process {
    width: 75%;
  }
}

@media screen and (max-width: 900px) {
  .container_process {
    width: 85%;
  }
  .broj {
    width: clamp(10vh, 15vh, 26vh);
    height: clamp(10vh, 15vh, 26vh);
  }
  .broj::after {
    width: clamp(16vh, 18vh, 30vh);
    height: clamp(16vh, 18vh, 30vh);
  }
  .broj::before {
    width: clamp(18vh, 22vh, 34vh);
    height: clamp(18vh, 22vh, 34vh);
  }
  .puls {
    position: absolute;
    width: clamp(18vh, 22vh, 34vh);
    height: clamp(18vh, 22vh, 34vh);
    border-radius: 50%;
    border: 20px solid;
    border-color: white;
  }
  .broj.strategy, .broj.conversion, .puls.strategy, .puls.conversion {
    margin-left: 5vw;
  }
  .broj.implementation, .broj.results, .puls.implementation, .puls.results {
    margin-right: 5vw;
  }
}

@media screen and (max-width: 800px) {
  .container_process {
    width: 85%;
  }
  .broj {
    width: clamp(10vh, 16vh, 26vh);
    height: clamp(10vh, 16vh, 26vh);
  }
  .broj::after {
    width: clamp(16vh, 20vh, 30vh);
    height: clamp(16vh, 20vh, 30vh);
  }
  .broj::before {
    width: clamp(18vh, 25vh, 34vh);
    height: clamp(18vh, 25vh, 34vh);
  }
  .puls {
    position: absolute;
    width: clamp(18vh, 25vh, 34vh);
    height: clamp(18vh, 25vh, 34vh);
    border-radius: 50%;
    border: 30px solid;
    border-color: white;
  }
  .broj.strategy, .broj.conversion, .puls.strategy, .puls.conversion {
    margin-left: -14vw;
  }
  .broj.implementation, .broj.results, .puls.implementation, .puls.results {
    margin-right: -14vw;
  }
}

@media screen and (max-width: 600px) {
  .container_process {
    width: 90%;
  }
  .str_process_sadrzaj.strategy, .str_process_sadrzaj.conversion {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .tekst {
    min-width: 100%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .str_process_sadrzaj {
    gap: 0;
  }
  .broj {
    width: clamp(10vh, 20vh, 26vh);
    height: clamp(10vh, 20vh, 26vh);
    -webkit-filter: blur(5px);
            filter: blur(5px);
    position: absolute;
  }
  .broj::after {
    width: clamp(16vh, 24vh, 30vh);
    height: clamp(16vh, 24vh, 30vh);
    -webkit-animation: none;
            animation: none;
  }
  .broj::before {
    width: clamp(18vh, 29vh, 34vh);
    height: clamp(18vh, 29vh, 34vh);
    -webkit-animation: none;
            animation: none;
  }
  .puls {
    visibility: hidden;
  }
  svg {
    -webkit-filter: opacity(0.4);
            filter: opacity(0.4);
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
  .broj.strategy, .broj.conversion, .puls.strategy, .puls.conversion {
    z-index: -2;
  }
  .broj.implementation, .broj.results, .puls.implementation, .puls.results {
    z-index: -2;
  }
}

@-webkit-keyframes pulsiranje_before {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes pulsiranje_before {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes pulsiranje_after {
  0% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  50% {
    -webkit-transform: scale(0.93);
            transform: scale(0.93);
  }
  75% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes pulsiranje_after {
  0% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  50% {
    -webkit-transform: scale(0.93);
            transform: scale(0.93);
  }
  75% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes puls {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  25% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.15;
    -webkit-transform: scale(0.92);
            transform: scale(0.92);
  }
  75% {
    opacity: 0.2;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes puls {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  25% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.15;
    -webkit-transform: scale(0.92);
            transform: scale(0.92);
  }
  75% {
    opacity: 0.2;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

svg {
  position: absolute;
  min-width: 100%;
  height: 100%;
  z-index: -2;
}

@media screen and (min-width: 800px) and (max-width: 1000px) and (min-height: 850px) and (max-height: 1200px) {
  .puls_home {
    max-width: clamp(10vh, 10vh, 34vh);
    max-height: clamp(10vh, 10vh, 34vh);
    border: 20px solid;
  }
  .process_line_text {
    max-width: clamp(10vh, 10vh, 10vh);
    max-height: clamp(10vh, 10vh, 10vh);
  }
  .process_line_text::after {
    max-width: clamp(12vh, 12vh, 12vh);
    max-height: clamp(12vh, 12vh, 12vh);
  }
  .process_line_text::before {
    max-width: clamp(16vh, 16vh, 34vh);
    max-height: clamp(16vh, 16vh, 34vh);
  }
}

.broj.strategy, .process_line_text.one {
  background-color: #3FA8F4;
}

.broj.strategy::after, .process_line_text.one::after {
  border-color: #3FA8F4;
}

.broj.strategy::before, .process_line_text.one::before {
  border-color: #3FA8F4;
}

.broj.implementation, .process_line_text.two {
  background-color: #007CFF;
}

.broj.implementation::after, .process_line_text.two::after {
  border-color: #007CFF;
}

.broj.implementation::before, .process_line_text.two::before {
  border-color: #007CFF;
}

.broj.conversion, .process_line_text.three {
  background-color: #004BA8;
}

.broj.conversion::after, .process_line_text.three::after {
  border-color: #004BA8;
}

.broj.conversion::before, .process_line_text.three::before {
  border-color: #004BA8;
}

.broj.results, .process_line_text.four {
  color: #08142F;
  background-color: #c7c7c7;
}

.broj.results::after, .process_line_text.four::after {
  border-color: #c7c7c7;
}

.broj.results::before, .process_line_text.four::before {
  border-color: #c7c7c7;
}

@media screen and (max-width: 600px) {
  .broj.results {
    background-color: #a5a5a5;
  }
  .broj.results::after {
    border-color: #a5a5a5;
  }
  .broj.results::before {
    border-color: #a5a5a5;
  }
}
/*# sourceMappingURL=process.css.map */