@font-face {
  font-family: 'nowbold';
  src: url("./font/Now-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'nowlight';
  src: url("./font/Now-Light.ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'nowregular';
  src: url("./font/Now-Regular.ttf");
  font-weight: bold;
}

:root {
  font-family: "nowlight";
  --fs-xl: clamp(2rem, 5vw, 6rem);
  --fs-700: 2.5rem;
  --fs-600: 2.25rem;
  --fs-500: 1.25rem;
  --fs-400: 1.25rem;
  --fs-nav: 1.35rem;
  --fs-telka: 1rem;
  --fs-telka-2: 1.55rem;
  color: #fff;
}

@media (max-width: 930px) {
  :root {
    --fs-xl: clamp(3rem, 5vw, 6rem);
    --fs-700: 1.75rem;
    --fs-600: 1.5rem;
    --fs-500: 1rem;
    --fs-400: 0.9rem;
  }
}

a, p, h1, h2, h3, h4 {
  color: #fff;
}

nav {
  font-size: var(--fs-500);
}

h2 {
  font-size: var(--fs-600);
  font-family: "nowbold";
  letter-spacing: 2px;
}

h3 {
  font-size: var(--fs-600);
  font-family: "nowregular";
}

p {
  font-size: var(--fs-400);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #192A32;
}

.tel {
  font-size: var(--fs-500);
  position: fixed;
  bottom: 3vh;
  right: 10vw;
}

@media (max-width: 990px) {
  .tel {
    display: none;
  }
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

@media (max-width: 991px) {
  .container {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -webkit-transform: none !important;
            transform: none !important;
  }
  html {
    scroll-behavior: smooth;
  }
}

.container section {
  min-width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header {
  position: fixed;
  z-index: 1;
  width: 35%;
  height: 7rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 14vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: var(--fs-nav);
}

.lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  gap: 2vw;
  white-space: nowrap;
  padding: 0.5rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.lista li a {
  text-decoration: none;
  padding: 0.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
  white-space: nowrap;
}

.lista li a:active, .lista li a:hover {
  color: red;
}

.lista_button.tel {
  display: none;
}

.logo {
  position: relative;
  height: 2.5rem;
  min-width: clamp(8rem, 12vw, 14rem);
  background-image: url("./slike/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.logo a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.burger {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 1.6rem;
  width: 2.5rem;
  display: none;
  cursor: pointer;
}

.burger .crta {
  height: 4px;
  width: 100%;
  background-color: #fff;
  margin: 5px;
  margin-left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.burger .crta.jedan {
  margin-top: 0;
}

.burger .crta.dva {
  margin-bottom: 0;
}

.toggle .crta.jedan {
  -webkit-transform: rotate(-45deg) translate(-5px, 7px);
          transform: rotate(-45deg) translate(-5px, 7px);
}

.toggle .crta.dva {
  opacity: 0;
}

.toggle .crta.tri {
  -webkit-transform: rotate(45deg) translate(-5px, -7px);
          transform: rotate(45deg) translate(-5px, -7px);
}

@media (max-width: 991px) {
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
  }
  .burger {
    display: block;
    top: 1.32rem;
    right: 10vw;
    z-index: 10;
  }
  .lista {
    position: absolute;
    min-width: 100vw;
    top: 0;
    right: 0;
    min-height: 100vh;
    padding: 0;
    background-color: #192A32;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 2;
  }
  .lista li {
    padding: 1.5rem;
    font-family: "nowregular";
    font-size: var(--fs-600);
  }
  .logo {
    margin-left: 10vw;
    z-index: 10;
  }
  header {
    width: 100%;
    height: 4rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 0;
    background-color: #192A32;
    font-size: var(--fs-500);
  }
  .lista_button.tel {
    display: block;
    position: absolute;
    top: 4rem;
    right: 2vw;
    font-size: var(--fs-400);
    padding: 0;
    height: 8%;
  }
}

@media (max-width: 600px) {
  .logo {
    min-width: clamp(6rem, 12vw, 14rem);
  }
}

.lista_active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.container_pocetna {
  position: relative;
  height: 100%;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.covjeculjak {
  position: absolute;
  background-image: url("./slike/covjeculjak.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 75%;
  width: 50%;
  z-index: -1;
  right: 0;
  bottom: 10%;
}

.pocetni_tekst {
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2vh;
}

.pocetni_tekst h1 {
  font-size: var(--fs-xl);
  font-family: "nowbold";
  letter-spacing: 2px;
}

.pocetni_tekst p {
  font-size: var(--fs-700);
}

.pocetni_tekst a {
  font-family: "nowregular";
  text-transform: uppercase;
  text-decoration: none;
  font-size: var(--fs-400);
  border: white solid 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 25%;
  height: 4rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .container_pocetna {
    position: relative;
    height: 60%;
    width: 80%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .covjeculjak {
    height: 90%;
    width: 100%;
    opacity: 0.5;
    bottom: 0%;
  }
  .pocetni_tekst h1 {
    line-height: 3rem;
  }
  .pocetni_tekst a {
    width: 50%;
    height: 3rem;
  }
  .pocetni_tekst p {
    font-size: var(--fs-600);
    margin-top: 0.5rem;
  }
}

.container_onama {
  height: 100%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2vh;
}

.container_onama h2 {
  margin-bottom: 1rem;
}

@media (max-width: 600px) {
  .container_onama {
    width: 80%;
  }
}

@media (max-width: 400px) {
  .container_onama {
    width: 90%;
  }
}

.container_dizala {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  gap: 5vw;
}

.dizala_tekst {
  position: relative;
  margin-top: 10%;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3vh;
}

.container_dizala h2 {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.dizala_radno_vrijeme {
  text-align: center;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2vh;
}

.dizala_radno_vrijeme h3 {
  line-height: 90%;
  margin-bottom: 1rem;
}

.radno_vrijeme_pozadina {
  display: none;
}

@media (max-width: 600px) {
  .container_dizala {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dizala_tekst {
    width: 80%;
  }
  #dizala {
    margin-bottom: 10vh;
  }
  .radno_vrijeme p {
    margin-bottom: 1vh;
  }
  .dizala_radno_vrijeme {
    min-width: 100vw;
  }
  .radno_vrijeme_pozadina {
    display: block;
    position: absolute;
    bottom: -9%;
    right: 0;
    min-width: 100vw;
    height: 120%;
    margin: 0 auto;
    background-color: black;
    opacity: 0.4;
    z-index: -1;
  }
}

@media (max-width: 400px) {
  .dizala_tekst {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3vh;
  }
  .dizala_radno_vrijeme {
    text-align: center;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2vh;
    margin: 5vh 0;
  }
}

.container_trgovina {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.container_trgovina_jedan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3vh;
}

@media screen and (max-width: 400px) {
  .container_trgovina {
    margin-top: 25vh;
  }
}

.container_kontakt {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6vw;
  max-height: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.kontakt_lijevo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.kontakt_lijevo h1 {
  font-family: "nowbold";
  font-size: var(--fs-700);
}

.kontakt_lijevo h4 {
  font-size: var(--fs-600);
  margin: 5vh 0;
}

.kontakt_lijevo span {
  font-family: "nowbold";
}

.jedan {
  margin-bottom: 3vh;
}

.kontakt_desno {
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10vh;
  width: clamp(40%, 10vw, 20%);
}

.mb:nth-child(2) {
  text-align: end;
}

.mb_mob {
  display: none;
}

.karta {
  background-color: wheat;
  overflow: hidden;
  padding-bottom: 66.25%;
  position: relative;
  height: 0;
}

.karta iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media (max-width: 600px) {
  .container_kontakt {
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 6vw;
    max-height: 70%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .kontakt_desno {
    gap: 2vh;
    min-width: 100%;
  }
  .mb {
    display: none;
  }
  .mb_mob {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1vh;
    width: 100%;
    margin-bottom: 3vh;
  }
}

@media screen and (max-width: 600px) {
  #o_nama {
    height: 80vh;
  }
  #dizala {
    padding-top: 45vh;
  }
}

@media screen and (max-width: 900px) and (min-width: 800px) and (min-height: 700px) and (max-height: 900px) {
  .container section {
    height: 80vh;
  }
}

@media screen and (max-width: 900px) and (min-width: 800px) and (min-height: 900px) and (max-height: 1200px) {
  .container section {
    height: 70vh;
  }
  #pocetna {
    height: 80vh;
  }
}

@media screen and (max-width: 900px) and (min-width: 800px) and (min-height: 1200px) {
  #pocetna {
    min-height: 90vh;
  }
  .container section {
    height: 55vh;
  }
}

@media screen and (min-width: 991px) and (max-height: 800px) {
  p {
    font-size: var(--fs-telka);
  }
  h1, h4, h2, h3, .kontakt_lijevo h4, .kontakt_lijevo h1 {
    font-size: var(--fs-telka-2);
  }
}

@media screen and (max-width: 400px) and (max-height: 600px) {
  .container section {
    height: 125vh;
  }
}

@media screen and (max-width: 400px) and (max-height: 800px) and (min-height: 600px) {
  #dizala {
    margin-top: 20vh;
  }
}
/*# sourceMappingURL=stil.css.map */
